/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: #9B59B6;
}
.wrapper{
    margin: 10px 0;
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
    margin: 20px;
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  /* width: calc(100% / 7);는 부모 요소의 가로 너비를 7로 나눈 값으로 설정하겠다는 의미입니다. 이것은 일반적으로 요일 (일요일부터 토요일까지)을 나타내는 요소를 7개로 나누어 균등하게 너비를 설정하거나, 그리드 레이아웃을 사용할 때 사용될 수 있습니다. 이를 통해 화면을 일정한 너비로 분할하거나 그리드를 생성하는 등의 레이아웃 디자인에 활용할 수 있습니다.
 */
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  /*z-index: -1;은 해당 요소를 다른 요소들 뒤로 숨기기 위해 사용됩니다. 이것은 요소를 기존의 요소 아래에 두어 해당 요소가 배경 이미지 또는 다른 요소 뒤에 숨는 효과를 만들 때 유용합니다. 예를 들어, 페이지의 배경 이미지 위에 다른 내용을 표시하려면 배경 이미지를 가진 요소에 z-index: -1;를 설정  */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

.mini-calendar {
    margin-top: 20px;
}
.mini-calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.mini-active {
    background-color: #007BFF;
    color: white;
    border-radius: 50%;
}
.mini-inactive {
    color: #D3D3D3;
}
  

.mini-calendar {
    width: 300px;
    height: 250px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.left, .right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
}
.right {
    width: 42%;
    background: #f4351e;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.left {
    width: 58%;
}
#date {
    font-size: 100px;
    line-height: 90px;
}
